/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}
.custom-nav{
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}
.custom-nav li{
	float: left;
	margin-top: 10px
	
}
.custom-nav li+li{
	margin-left: 20px;
}
.custom-a{
	/*height: 55px;*/
}